<section class="container px-2">
  <div class="page-header-editor">
    <div class="page-header-title">
      <div class="d-block">
        <h4 class="mb-0">
          Divisions
        </h4>
      </div>
    </div>
    <button type="button" mat-raised-button color="primary" [routerLink]="['/masters/division/create']">
      Create
    </button>
  </div>
  <div class="row my-2">
    <div class="col-12">
      <div class="d-flex">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text" (click)="code.change()" style="cursor: pointer">
              <mat-icon>search</mat-icon>
            </span>
          </div>
          <input class="form-control" placeholder="Search by Country name or code" type="text"
            (change)="applyFilter($event)" #code />
        </div>
      </div>
    </div>
  </div>

  <div class="example-container mat-elevation-z1">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        Unable to fetch data.
      </div>
    </div>

    <div class="example-table-container">
      <table mat-table [dataSource]="data" class="example-table" cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)" matSort matSortActive="name" matSortDisableClear matSortDirection="desc">
        <!-- Number Column -->
        <!-- <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row; let i = index;">{{i+1}}</td>
        </ng-container> -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag disableClear>
            Name
          </th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
            Code
          </th>
          <td mat-cell *matCellDef="let row">{{ row.code }}</td>
        </ng-container>

        <!-- Created Date Column -->
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag>
            Created Date
          </th>
          <td mat-cell *matCellDef="let row">{{ row.createdDate | date }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef cdkDrag>Status</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <!-- Star Column -->
        <ng-container matColumnDef="star">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Button for edit" (click)="goToEditPage(element.uid)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="30" [pageSizeOptions]="[30, 50, 100]"></mat-paginator>
  </div>
</section>