<div class="page-header-editor">
  <div class="page-header-title">
    <div class="d-block">
      <h4 class="mb-0">
        Detail-Employees
      </h4>
    </div>
  </div>
  <button type="button" mat-icon-button [routerLink]="['/masters/employees']">
    <mat-icon>close</mat-icon>
  </button>
</div>

<table style="width:40%">
  <tr>
    <th>First Name:</th>
    <td>{{detailData.firstName}}</td>
  </tr>
  <tr>
    <th>Middle Name:</th>
    <td>{{detailData.middleName}}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{detailData.lastName}}</td>
  </tr>
  <tr>
    <th>Title:</th>
    <td>{{detailData.title}}</td>
  </tr>
  <tr>
    <th>Employee Number:</th>
    <td>{{detailData.employeeNumber}}</td>
  </tr>
  <tr>
    <th>Gender:</th>
    <td>{{detailData.gender}}</td>
  </tr>
  <tr>
    <th>Pan Number:</th>
    <td>{{detailData.panNumber}}</td>
  </tr>
  <tr>
    <th>Date Of Birth:</th>
    <td>{{detailData.dateOfBirth}}</td>
  </tr>
  <tr>
    <th>Marital Status:</th>
    <td>{{detailData.maritalStatus}}</td>
  </tr>
  <tr>
    <th>Official Email:</th>
    <td>{{detailData.officialEmail}}</td>
  </tr>
  <tr>
    <th>Contact1:</th>
    <td>{{detailData.contact1}}</td>
  </tr>
  <tr>
    <th>Contact2:</th>
    <td>{{detailData.contact2}}</td>
  </tr>
  <tr>
    <th>Band:</th>
    <td>{{detailData.band}}</td>
  </tr>
  <tr>
    <th>Location Name:</th>
    <td>{{detailData.locationName}}</td>
  </tr>
  <tr>
    <th>Supervisor Emp Code:</th>
    <td>{{detailData.supervisorEmpCode}}</td>
  </tr>
  <tr>
    <th>Hire Date:</th>
    <td>{{detailData.hireDate}}</td>
  </tr>
  <tr>
    <th>Record Status:</th>
    <td>{{detailData.recordStatus}}</td>
  </tr>
  <tr>
    <th>Country Id:</th>
    <td>{{detailData.countryId}}</td>
  </tr>
  <tr>
    <th>City:</th>
    <td>{{detailData.city}}</td>
  </tr>
  <tr>
    <th>Region:</th>
    <td>{{detailData.region}}</td>
  </tr>
  <tr>
    <th>Actual Termination Date:</th>
    <td>{{detailData.actualTerminationDate}}</td>
  </tr>
  <tr>
    <th>Employee Status:</th>
    <td>{{detailData.employeeStatus}}</td>
  </tr>
</table>
